<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246032385864-s41nobh1qi6hgr2gs00uolah0pvr550l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246032385864-s41nobh1qi6hgr2gs00uolah0pvr550l</string>
	<key>API_KEY</key>
	<string>AIzaSyDV5thihYljGxmBGX0i38YotyCgR1BN9Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>246032385864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junghun.mealacle</string>
	<key>PROJECT_ID</key>
	<string>mealacle-7cb03</string>
	<key>STORAGE_BUCKET</key>
	<string>mealacle-7cb03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246032385864:ios:7ad1654f2cdb5dabaed57d</string>
</dict>
</plist>