<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980123569883-mqafp5hh5o4aoc7qo45jmj8k5k4ihkks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980123569883-mqafp5hh5o4aoc7qo45jmj8k5k4ihkks</string>
	<key>API_KEY</key>
	<string>AIzaSyBtrF2sE-K8hJ0j3FWLumpDc362aKMMG40</string>
	<key>GCM_SENDER_ID</key>
	<string>980123569883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freeview.crew</string>
	<key>PROJECT_ID</key>
	<string>freeview-34daa</string>
	<key>STORAGE_BUCKET</key>
	<string>freeview-34daa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980123569883:ios:5e05d51b25fb69f58c06fe</string>
</dict>
</plist>